*/
.wrapper{
  align-items: center;
  background-color: #258ea6;
}
.form-wrapper{
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}
form{
  
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*
.headercontainer{
  width: 100%;
  height: 10px;
  background-color: crimson;
}*/
/*input{
  width: 100%;
  text-decoration: none;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}*/

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}
input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.firstname{
  margin-right: 1%;
}
.lastname{
  margin-right: 1%;
}
.username,.password,.password1,.password2,
.email,.firstname,.lastname,.country{
display: flex;
flex-direction: column;
margin-bottom: 15px;
}
.firstname,
.lastname{
  width: 49%;
}
.username,
.password,
.password1,
.password2,
.email,
.country {
  width: 100%;
}
.btn{
  background-color: #519e8a;
  color: #111;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}
.btn:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.subacc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subacc button {
  background-color: #519e8a;
  color: #111;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}


.subacc button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

/*.btn{
background-color: skyblue;
width: 100%;
color:white;
padding: 16px 32px;
margin: 4px 2px;
cursor: pointer;
}*/
.formtext{
  position: fixed;
  top:48px;
  background: white;
  padding: 7 px;
  width:57px;
  color: red;
}
/*
.subacc{
display: block;
margin: 16px;
padding: 16px;
width:400px;
}*/